force-app/main/default/flows/Action_Image_Damage_Analyzer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Results</name>
        <label>Assign Results</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>analysisResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAnalysisText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isDamaged</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaIsDamaged</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Claim</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>formulaAnalysisText</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(LOWER({!partName}), &quot;pump&quot;), 
&quot;Multi-modal analysis detects a sharp crack in the housing of the &quot; + {!partName} + &quot;. The fracture pattern suggests external impact rather than internal mechanical failure. Visual evidence does not support a manufacturing defect.&quot;,
IF(CONTAINS(LOWER({!partName}), &quot;battery&quot;),
&quot;Thermal imaging analysis indicates localized overheating near the terminal. Case integrity is maintained, but internal cell bulging is visible in the profile view. This matches expected patterns for a warranty-covered electrical failure.&quot;,
&quot;Image analysis complete for &quot; + {!partName} + &quot;. Surface wear is within acceptable tolerances for the vehicle mileage. No obvious fractures or impact marks detected from the provided angles.&quot;
))</expression>
    </formulas>
    <formulas>
        <name>formulaIsDamaged</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(LOWER({!partName}), &quot;pump&quot;)</expression>
    </formulas>
    <interviewLabel>Action_Image_Damage_Analyzer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action_Image_Damage_Analyzer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Claim</name>
        <label>Update Claim</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AI_Image_Analysis__c</field>
            <value>
                <elementReference>analysisResult</elementReference>
            </value>
        </inputAssignments>
        <object>Claim</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Results</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>analysisResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imageUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isDamaged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>partName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
