force-app/main/default/flows/Action_Link_Uploaded_Evidence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Total_Counter</name>
        <label>Add to Total Counter</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varExistingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>linkedCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Claim_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Link_to_Collection</name>
        <label>Assign Link to Collection</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varLinksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>linkedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Attachment_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Initial_Count</name>
        <label>Set Initial Count</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varExistingCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Links</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Attachment_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Link_Values</name>
        <label>Set New Link Values</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varNewLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Attachment_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Link_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Result_Message</name>
        <label>Set Result Message</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaResultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>formulaResultMessage</name>
        <dataType>String</dataType>
        <expression>TEXT({!linkedCount}) + &quot; file(s) linked to claim. Total attachments: &quot; + TEXT({!varExistingCount})</expression>
    </formulas>
    <interviewLabel>Action_Link_Uploaded_Evidence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action_Link_Uploaded_Evidence</label>
    <loops>
        <name>Loop_Attachment_Ids</name>
        <label>Loop Attachment Ids</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>attachmentIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Link_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Links</name>
        <label>Create Links</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Add_to_Total_Counter</targetReference>
        </connector>
        <inputReference>varLinksToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Links</name>
        <label>Get Existing Links</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Initial_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Claim_Count</name>
        <label>Update Claim Count</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Set_Result_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttachmentCount__c</field>
            <value>
                <elementReference>varExistingCount</elementReference>
            </value>
        </inputAssignments>
        <object>Claim</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Links</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>attachmentIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>attachmentIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>linkedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExistingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varLinksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varNewLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
