force-app/main/default/flows/Action_Create_Warranty_Claim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_Claim_Apex</name>
        <label>Route Claim (auto-approve / auto-reject / queue)</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <actionName>RouteClaimToApproverQueue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Summary_Results</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Summary_Results</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>claimId</name>
            <value>
                <elementReference>Create_Claim_Rec</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RouteClaimToApproverQueue</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_AI_Recommendation</name>
        <label>Set AI Recommendation</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varAIRecommendation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAIRecommendation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAIConfidence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAIConfidence</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Claim_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Summary_Results</name>
        <label>Set Summary Results</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>claimId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Claim_Rec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaClaimNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subflow_Evaluate_Coverage.eligibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rationale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subflow_Evaluate_Coverage.rationale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Claim_Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleId_out</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vehicle.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetWarrantyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subflow_Evaluate_Coverage.coverageId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>slackNotificationSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>formulaAIConfidence</name>
        <dataType>Number</dataType>
        <expression>IF({!Subflow_Evaluate_Coverage.eligibility} == &quot;Likely&quot;, 90, IF({!Subflow_Evaluate_Coverage.eligibility} == &quot;Not Covered&quot;, 95, 50))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaAIRecommendation</name>
        <dataType>String</dataType>
        <expression>IF({!Subflow_Evaluate_Coverage.eligibility} == &quot;Likely&quot;, &quot;Approve&quot;, IF({!Subflow_Evaluate_Coverage.eligibility} == &quot;Not Covered&quot;, &quot;Reject&quot;, &quot;Needs Clarification&quot;))</expression>
    </formulas>
    <formulas>
        <name>formulaAuthorizationType</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISBLANK({!authorizationType}), AND({!authorizationType} &lt;&gt; &quot;Prior Authorization&quot;, {!authorizationType} &lt;&gt; &quot;Post Repair Claim&quot;, {!authorizationType} &lt;&gt; &quot;Goodwill Exception&quot;)), &quot;Prior Authorization&quot;, {!authorizationType})</expression>
    </formulas>
    <formulas>
        <name>formulaClaimItemName</name>
        <dataType>String</dataType>
        <expression>LEFT({!symptom}, 80)</expression>
    </formulas>
    <formulas>
        <name>formulaClaimName</name>
        <dataType>String</dataType>
        <expression>&quot;Warranty Claim: &quot; + {!vin}</expression>
    </formulas>
    <formulas>
        <name>formulaClaimNumber</name>
        <dataType>String</dataType>
        <expression>&quot;WC-&quot; + UPPER(RIGHT({!Get_Created_Claim.Id}, 5))</expression>
    </formulas>
    <formulas>
        <name>formulaFaultDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!faultDate}), TODAY(), {!faultDate})</expression>
    </formulas>
    <formulas>
        <name>formulaPriority</name>
        <dataType>String</dataType>
        <expression>IF(OR(CONTAINS(LOWER({!symptom}), &quot;fire&quot;), CONTAINS(LOWER({!symptom}), &quot;smoke&quot;), CONTAINS(LOWER({!symptom}), &quot;stranded&quot;), CONTAINS(LOWER({!symptom}), &quot;brake&quot;), CONTAINS(LOWER({!symptom}), &quot;steering&quot;), CONTAINS(LOWER({!symptom}), &quot;leak&quot;)), &quot;High&quot;, &quot;Medium&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaRationaleTruncated</name>
        <dataType>String</dataType>
        <expression>LEFT({!Subflow_Evaluate_Coverage.rationale}, 255)</expression>
    </formulas>
    <formulas>
        <name>formulaSLADue</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1</expression>
    </formulas>
    <formulas>
        <name>formulaSubmissionChannel</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!channel}), &quot;WhatsApp&quot;, {!channel})</expression>
    </formulas>
    <formulas>
        <name>formulaSummary</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!requestedAmount}), &quot;&quot;, &quot;Claim Amount: $&quot; + TEXT({!requestedAmount}))</expression>
    </formulas>
    <interviewLabel>Action_Create_Warranty_Claim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action_Create_Warranty_Claim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Chatter_Post</name>
        <label>Create Chatter Post</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Create_Claim_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue>New Warranty Claim submitted for VIN: {!vin}. AI Recommendation: {!varAIRecommendation}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Claim_Rec</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Claim_Item</name>
        <label>Create Claim Item</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Route_Claim_Apex</targetReference>
        </connector>
        <inputAssignments>
            <field>ClaimId</field>
            <value>
                <elementReference>Create_Claim_Rec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FaultDate</field>
            <value>
                <elementReference>formulaFaultDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaClaimItemName</elementReference>
            </value>
        </inputAssignments>
        <object>ClaimItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Claim_Rec</name>
        <label>Create Claim Rec</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Created_Claim</targetReference>
        </connector>
        <inputAssignments>
            <field>AI_Confidence__c</field>
            <value>
                <elementReference>varAIConfidence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Recommendation__c</field>
            <value>
                <elementReference>varAIRecommendation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Summary__c</field>
            <value>
                <elementReference>Subflow_Evaluate_Coverage.rationale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>dealerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApproverQueue__c</field>
            <value>
                <elementReference>approverQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorization_Type__c</field>
            <value>
                <elementReference>formulaAuthorizationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DealerResponseSummary__c</field>
            <value>
                <elementReference>srtJustification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DealerWhatsAppNumber__c</field>
            <value>
                <elementReference>dealerWhatsAppNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Diagnosis__c</field>
            <value>
                <elementReference>diagnosticCodeText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EligibilityRationale__c</field>
            <value>
                <elementReference>formulaRationaleTruncated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility__c</field>
            <value>
                <elementReference>Subflow_Evaluate_Coverage.eligibility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedAmount</field>
            <value>
                <elementReference>requestedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedCost__c</field>
            <value>
                <elementReference>requestedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaClaimName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Odometer__c</field>
            <value>
                <elementReference>odometer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>formulaPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Due_Date__c</field>
            <value>
                <elementReference>formulaSLADue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmissionChannel__c</field>
            <value>
                <elementReference>formulaSubmissionChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary</field>
            <value>
                <elementReference>formulaSummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PartCategory__c</field>
            <value>
                <elementReference>partCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptom__c</field>
            <value>
                <elementReference>symptom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>Get_Vehicle.AssetId</elementReference>
            </value>
        </inputAssignments>
        <object>Claim</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Claim</name>
        <label>Get Created Claim</label>
        <locationX>182</locationX>
        <locationY>512</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Claim_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Claim_Rec</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subflow_Evaluate_Coverage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VehicleIdentificationNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vin</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Claim_Name</name>
        <label>Update Claim Name to WC-XXXXX</label>
        <locationX>182</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Create_Chatter_Post</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Created_Claim.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaClaimNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Claim</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Evaluate_Coverage</name>
        <label>Subflow Evaluate Coverage</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Set_AI_Recommendation</targetReference>
        </connector>
        <flowName>Action_Coverage_Engine</flowName>
        <inputAssignments>
            <name>odometer</name>
            <value>
                <elementReference>odometer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>partCategory</name>
            <value>
                <elementReference>partCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vehicleId</name>
            <value>
                <elementReference>Get_Vehicle.AssetId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>approverQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetWarrantyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>authorizationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claimItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claimNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>customerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dealerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dealerWhatsAppNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>diagnosticCodeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eligibility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>faultDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>odometer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>partCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rationale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requestedAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>slackNotificationSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>srtJustification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>symptom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAIConfidence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAIRecommendation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleId_out</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
