force-app/main/default/flows/Action_Get_Approval_Context.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Results</name>
        <label>Assign Results</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>claimId_out</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimNumber_out</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerTrustScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.Account.DealerTrustScore__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>odometer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaOdometer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>symptom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.Symptom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>faultCodes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.Diagnosis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.PartCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.Eligibility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>estimatedCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaEstimatedCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>submissionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aiSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.AI_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aiRecommendation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.AI_Recommendation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aiConfidence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAIConfidence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>slackReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.ApproverSlackRef__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clarificationRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.ClarificationRequest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>requiresFollowUp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.RequiresFollowUp__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dealerResponseSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.DealerResponseSummary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>submissionChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.SubmissionChannel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aiImageAnalysis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.AI_Image_Analysis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>slackMessageBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaSlackBody</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>formulaAIConfidence</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Claim.AI_Confidence__c})</expression>
    </formulas>
    <formulas>
        <name>formulaCreatedDate</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Claim.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>formulaEstimatedCost</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Claim.EstimatedCost__c})</expression>
    </formulas>
    <formulas>
        <name>formulaOdometer</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Claim.Odometer__c})</expression>
    </formulas>
    <formulas>
        <name>formulaSlackBody</name>
        <dataType>String</dataType>
        <expression>&quot;Warranty Claim Approval Request\n&quot; + 
&quot;Claim: &quot; + {!claimNumber_out} + &quot;\n&quot; + 
&quot;Status: &quot; + {!status} + &quot;\n&quot; + 
IF(NOT(ISNULL({!dealerName})), &quot;Dealer: &quot; + {!dealerName} + &quot;\n&quot;, &quot;&quot;) + 
IF(NOT(ISNULL({!dealerTrustScore})), &quot;Dealer Trust Score: &quot; + TEXT({!dealerTrustScore}) + &quot;%\n&quot;, &quot;&quot;) + 
IF(NOT(ISNULL({!submissionChannel})), &quot;Channel: &quot; + {!submissionChannel} + &quot;\n&quot;, &quot;&quot;) + 
IF(NOT(ISNULL({!aiRecommendation})), &quot;AI Recommendation: &quot; + {!aiRecommendation} + &quot;\n&quot;, &quot;&quot;) + 
IF(NOT(ISNULL({!Get_Claim.AI_Confidence__c})), &quot;AI Confidence: &quot; + TEXT({!Get_Claim.AI_Confidence__c}) + &quot;%\n&quot;, &quot;&quot;) + 
IF(NOT(ISNULL({!aiImageAnalysis})), &quot;AI Image Analysis: &quot; + {!aiImageAnalysis} + &quot;\n&quot;, &quot;&quot;) + 
IF(NOT(ISNULL({!dealerResponseSummary})), &quot;Dealer Response: &quot; + {!dealerResponseSummary} + &quot;\n&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Action_Get_Approval_Context {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action_Get_Approval_Context</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Claim</name>
        <label>Get Claim</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Results</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Claim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>aiConfidence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>aiImageAnalysis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>aiRecommendation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>aiSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>claimId_out</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claimNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>claimNumber_out</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>clarificationRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dealerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dealerResponseSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dealerTrustScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>eligibility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>estimatedCost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>faultCodes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>odometer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>partNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requiresFollowUp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>slackMessageBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>slackReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>submissionChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>submissionDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>symptom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
