force-app/main/default/flows/Action_Coverage_Engine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Likely</name>
        <label>Assign Likely</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>eligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Likely</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rationale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaLikelyRationale</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Not_Covered</name>
        <label>Assign Not Covered</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>eligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Covered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rationale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNotCoveredRationale</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Coverage_Id</name>
        <label>Set Coverage Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>coverageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Warranty.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Coverage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Coverage</name>
        <label>Check Coverage</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Not_Covered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outside Coverage</defaultConnectorLabel>
        <rules>
            <name>Is_Covered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaDateInRange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaMileageInRange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Likely</targetReference>
            </connector>
            <label>Is Covered</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaDateInRange</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    NOT(ISNULL({!Get_Latest_Warranty.StartDate})),
    NOT(ISNULL({!Get_Latest_Warranty.EndDate})),
    TODAY() &gt;= {!Get_Latest_Warranty.StartDate},
    TODAY() &lt;= {!Get_Latest_Warranty.EndDate}
)</expression>
    </formulas>
    <formulas>
        <name>formulaLikelyRationale</name>
        <dataType>String</dataType>
        <expression>&quot;Eligibility: Likely | Coverage: Active | Odometer: &quot; + TEXT({!odometer})</expression>
    </formulas>
    <formulas>
        <name>formulaMileageInRange</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    ISNULL({!Get_Latest_Warranty.MileageCap__c}),
    ISNULL({!odometer}),
    {!odometer} &lt;= {!Get_Latest_Warranty.MileageCap__c}
)</expression>
    </formulas>
    <formulas>
        <name>formulaNotCoveredRationale</name>
        <dataType>String</dataType>
        <expression>&quot;Eligibility: Not Covered | Flags: &quot; + 
IF(NOT({!formulaDateInRange}), &quot;Outside coverage dates&quot;, &quot;&quot;) + 
IF(AND(NOT({!formulaDateInRange}), NOT({!formulaMileageInRange})), &quot;, &quot;, &quot;&quot;) +
IF(NOT({!formulaMileageInRange}), &quot;Mileage exceeding cap (&quot; + TEXT({!Get_Latest_Warranty.MileageCap__c}) + &quot;)&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Action_Coverage_Engine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action_Coverage_Engine</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Latest_Warranty</name>
        <label>Get Latest Warranty</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Coverage_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehicleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetWarranty</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Latest_Warranty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coverageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eligibility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>odometer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>partCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rationale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>riskFlags</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
