force-app/main/default/flows/Action_Get_Claim_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Found_Results</name>
        <label>Assign Found Results</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>claimFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimNumber_out</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMatchedClaim.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>claimStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMatchedClaim.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignedApprover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMatchedClaim.Owner:User.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>slaDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaSLADate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverComment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaApproverComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNextStep</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_No_Found</name>
        <label>Assign No Found</label>
        <locationX>490</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>claimFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No claim found. Please verify your Claim Number or VIN and try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Matched_Claim_By_Number</name>
        <label>Set Matched Claim By Number</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varMatchedClaim</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim_By_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Claim_Matched</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matched_Claim_By_VIN</name>
        <label>Set Matched Claim By VIN</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varMatchedClaim</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Claim_By_Vehicle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Claim_Matched</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Claim_Matched</name>
        <label>Claim Matched?</label>
        <locationX>336</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMatchedClaim.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_Results</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Match_By_Number</name>
        <label>Has Match By Number?</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Lookup_by_VIN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Match_By_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Claim_By_Number.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Matched_Claim_By_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lookup_by_VIN</name>
        <label>Lookup by VIN?</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Claim_Matched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No VIN</defaultConnectorLabel>
        <rules>
            <name>Yes_VIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicle</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lookup_Strategy</name>
        <label>Lookup Strategy</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Lookup_by_VIN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>By VIN</defaultConnectorLabel>
        <rules>
            <name>By_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>claimNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>claimNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Claim_By_Number</targetReference>
            </connector>
            <label>By Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vehicle_Found</name>
        <label>Vehicle Found?</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Claim_Matched</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Vehicle</defaultConnectorLabel>
        <rules>
            <name>Yes_Vehicle_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vehicle.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_Claim_By_Vehicle</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaApproverComment</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!varMatchedClaim.EligibilityRationale__c}, &quot;No comments yet from the approver.&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaNextStep</name>
        <dataType>String</dataType>
        <expression>CASE({!varMatchedClaim.Status},
&quot;Submitted&quot;, &quot;Your claim is queued for review. No action needed — you will be notified within 24 business hours.&quot;,
&quot;Pending Approver Review&quot;, &quot;Your claim is queued for review. No action needed — you will be notified within 24 business hours.&quot;,
&quot;Under Review&quot;, &quot;An OEM adjuster is reviewing your claim. They may reach out for clarification.&quot;,
&quot;Approved&quot;, &quot;Claim approved! Proceed with the repair and submit your invoice to Electra for reimbursement.&quot;,
&quot;Rejected&quot;, &quot;Claim was rejected. Review the approver comment for the reason, or reply AGENT to speak with a specialist.&quot;,
&quot;Clarification Needed&quot;, &quot;The approver has requested additional information. Please reply to their WhatsApp message or contact them directly.&quot;,
&quot;Please contact your Electra OEM representative for the latest update on this claim.&quot;)</expression>
    </formulas>
    <formulas>
        <name>formulaSLADate</name>
        <dataType>DateTime</dataType>
        <expression>{!varMatchedClaim.CreatedDate} + (1/24 * 24)</expression>
    </formulas>
    <interviewLabel>Action_Get_Claim_Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action_Get_Claim_Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Claim_By_Number</name>
        <label>Get Claim By Number</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Match_By_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Claim_By_Vehicle</name>
        <label>Get Latest Claim By Vehicle</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Matched_Claim_By_VIN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vehicle_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VehicleIdentificationNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vin</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Strategy</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approverComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assignedApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claimFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claimNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>claimNumber_out</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claimStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>slaDueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMatchedClaim</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim</objectType>
    </variables>
    <variables>
        <name>vin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
