force-app/main/default/flows/Action_Route_Claim_to_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Custom_Queue</name>
        <label>Set Custom Queue</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varTargetQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.ApproverQueue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Queue</name>
        <label>Set Default Queue</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varTargetQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty Claim Approvers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Result_Success</name>
        <label>Set Result Success</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Routed claim to queue.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_AI_Confidence</name>
        <label>Check AI Confidence</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Update_Claim_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Review</defaultConnectorLabel>
        <rules>
            <name>High_Confidence_Low_Cost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Claim.AI_Confidence__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>85.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Claim.EstimatedCost__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Claim.Eligibility__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Covered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Claim_Standard</targetReference>
            </connector>
            <label>High Confidence Low Cost</label>
        </rules>
        <rules>
            <name>Not_Covered_Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Claim.Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Covered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Claim_Manual_Review</targetReference>
            </connector>
            <label>Not Covered Manual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Approver_Queue</name>
        <label>Has Approver Queue?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Claim.ApproverQueue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Claim.ApproverQueue__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Custom_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Action_Route_Claim_to_Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action_Route_Claim_to_Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Claim</name>
        <label>Get Claim</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Approver_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_AI_Confidence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTargetQueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Claim_Manual_Review</name>
        <label>Update Claim Manual Review</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Set_Result_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Approver Review</stringValue>
            </value>
        </inputAssignments>
        <object>Claim</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Claim_Standard</name>
        <label>Update Claim Standard</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Set_Result_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Approver Review</stringValue>
            </value>
        </inputAssignments>
        <object>Claim</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Claim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>preferredQueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTargetQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
