force-app/main/default/flows/Action_Check_Recent_Claims.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Duplicate_Found</name>
        <label>Assign Duplicate Found</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>duplicateFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingClaimId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recent_Claims.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingClaimNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recent_Claims.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingClaimStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recent_Claims.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>daysSinceSubmission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDaysSinceSubmission</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_No_Duplicate</name>
        <label>Assign No Duplicate</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>duplicateFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>daysSinceSubmission</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Duplicate_Claim_Exists</name>
        <label>Duplicate Claim Exists?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recent_Claims.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Duplicate_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaDaysSinceSubmission</name>
        <dataType>Number</dataType>
        <expression>FLOOR(DATETIMEVALUE(TODAY()) - DATETIMEVALUE({!Get_Recent_Claims.CreatedDate}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formulaThirtyDaysAgo</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TODAY() - 30)</expression>
    </formulas>
    <interviewLabel>Action_Check_Recent_Claims {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action_Check_Recent_Claims</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Recent_Claims</name>
        <label>Get Recent Claims</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_Claim_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vehicle.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formulaThirtyDaysAgo</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>In</operator>
            <value>
                <stringValue>Submitted,Pending Approver Review,Under Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>PartCategory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>partCategory</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recent_Claims</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VehicleIdentificationNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vin</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>daysSinceSubmission</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>duplicateFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existingClaimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existingClaimNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>existingClaimStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>partCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
