force-app/main/default/flows/Agent_Create_Warranty_Claim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>out_ClaimNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim_Details.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Agent_Create_Warranty_Claim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Create Warranty Claim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Warranty_Claim</name>
        <label>Create Warranty Claim</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>var_NewClaimID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Claim_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedClaimId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewClaimID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualAmount</field>
            <value>
                <elementReference>var_ActAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovedAmount</field>
            <value>
                <elementReference>var_ApprovedAmt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedAmount</field>
            <value>
                <elementReference>var_EstAmt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Odometer__c</field>
            <value>
                <elementReference>var_Odometer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptom__c</field>
            <value>
                <elementReference>var_Symptom</elementReference>
            </value>
        </inputAssignments>
        <object>Claim</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordLookups>
        <name>Find_Asset_by_VIN</name>
        <label>Find Asset by VIN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Warranty_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VehicleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_VIN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claim_Details</name>
        <label>Get Claim Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedClaimId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NewClaimID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Asset_by_VIN</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>out_ClaimNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ActAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_ApprovedAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_EstAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_NewClaimID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Odometer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_Symptom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_VIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
