force-app/main/default/flows/Claim_Queue_Routing_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_Claim</name>
        <label>Route Claim</label>
        <locationX>176</locationX>
        <locationY>442</locationY>
        <actionName>RouteClaimToApproverQueue</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>claimId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferredQueueDeveloperName</name>
            <value>
                <elementReference>varPreferredQueueDeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priority</name>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RouteClaimToApproverQueue</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Critical_Queue</name>
        <label>Set Critical Queue</label>
        <locationX>50</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>varPreferredQueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty_Claim_Critical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Claim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Standard_Queue</name>
        <label>Set Standard Queue</label>
        <locationX>302</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>varPreferredQueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty_Claim_Approvers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_Claim</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Queue</name>
        <label>Determine Queue</label>
        <locationX>176</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>Set_Standard_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Critical_Queue</targetReference>
            </connector>
            <label>Critical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Prior_Authorization</name>
        <label>Is Prior Authorization</label>
        <locationX>176</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>Ignore</defaultConnectorLabel>
        <rules>
            <name>Prior_Authorization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Authorization_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prior Authorization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Queue</targetReference>
            </connector>
            <label>Prior Authorization</label>
        </rules>
    </decisions>
    <description>Record-triggered flow that routes newly created prior authorization claims to the correct approver queue.</description>
    <environments>Default</environments>
    <interviewLabel>Claim Queue Routing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim Queue Routing Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Prior_Authorization</targetReference>
        </connector>
        <object>Claim</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varPreferredQueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
