force-app/main/default/flows/Create_Prior_Authorization_Claim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Output_Numbers</name>
        <label>Assign Output Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>claimNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Created_Claim_Details.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Fault_Message</name>
        <label>Set Fault Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>eligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rationale</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>⚠️ System Error: I couldn&apos;t create the claim. Please check if the Dealer ID or VIN is correct. (Error: {!$Flow.FaultMessage})</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Fault_Message2</name>
        <label>Set Fault Message2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>eligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rationale</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>⚠️ System Error: I couldn&apos;t create the claim. Please check if the Dealer ID or VIN is correct. (Error: {!$Flow.FaultMessage})</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create_Prior_Authorization_Claim {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create Prior Authorization Claim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dealer_Participant</name>
        <label>Create Dealer Participant</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Created_Claim_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Fault_Message2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ClaimId</field>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantAccountId</field>
            <value>
                <elementReference>dealerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roles</field>
            <value>
                <stringValue>Claim Recorder</stringValue>
            </value>
        </inputAssignments>
        <object>ClaimParticipant</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Warranty_Claim</name>
        <label>Create Warranty Claim</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>claimId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Dealer_Participant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>dealerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClaimType</field>
            <value>
                <stringValue>Warranty Claim</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Claim - {!vin}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptom__c</field>
            <value>
                <elementReference>symptom</elementReference>
            </value>
        </inputAssignments>
        <object>Claim</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Claim_Details</name>
        <label>Get Created Claim Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Output_Numbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Warranty_Claim</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>claimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>claimNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>customerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dealerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eligibility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rationale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requestedAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>symptom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
