force-app/main/default/flows/Dealer_Clarification_Response_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Link_New_Attachments</name>
        <label>Link New Attachments</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>LinkUploadedEvidenceToClaim</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>claimId</name>
            <value>
                <elementReference>varClaimId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>varNewAttachmentIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LinkUploadedEvidenceToClaim</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Handles dealer responses to clarification requests. Updates the claim with the response, changes status back to Pending Approver Review, and links uploaded evidence.</description>
    <environments>Default</environments>
    <interviewLabel>Dealer Clarification Response {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dealer Clarification Response Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Claim_With_Response</name>
        <label>Update Claim With Response</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Link_New_Attachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varClaimId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DealerResponseSummary__c</field>
            <value>
                <elementReference>varDealerResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastDealerInteraction__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MissingInfoFlag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequiresFollowUp__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Approver Review</stringValue>
            </value>
        </inputAssignments>
        <object>Claim</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Claim_With_Response</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varClaimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDealerResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewAttachmentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
