force-app/main/default/flows/Dealer_Intake_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Claim_Structure</name>
        <label>Create Claim Structure</label>
        <locationX>176</locationX>
        <locationY>550</locationY>
        <actionName>CreatePriorAuthorizationClaim</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Claim_Created_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>vin</name>
            <value>
                <elementReference>varVin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dealerAccountId</name>
            <value>
                <elementReference>varDealerAccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>summary</name>
            <value>
                <elementReference>varSummary</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>symptomText</name>
            <value>
                <elementReference>varSymptomText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>diagnosticCodeText</name>
            <value>
                <elementReference>varDiagnosticCodeText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>faultDate</name>
            <value>
                <elementReference>varFaultDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>repairDate</name>
            <value>
                <elementReference>varRepairDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mileageAtFailure</name>
            <value>
                <elementReference>varMileageAtFailure</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submissionChannel</name>
            <value>
                <elementReference>varSubmissionChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authorizationType</name>
            <value>
                <stringValue>Prior Authorization</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priority</name>
            <value>
                <elementReference>varPriorityOverride</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>repairOrderNumber</name>
            <value>
                <elementReference>varRepairOrderNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dealerWhatsAppNumber</name>
            <value>
                <elementReference>varDealerWhatsAppNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>externalDmsReference</name>
            <value>
                <elementReference>varExternalDmsReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>causalPartId</name>
            <value>
                <elementReference>varCausalPartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>faultCodeId</name>
            <value>
                <elementReference>varFaultCodeId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestedAmount</name>
            <value>
                <elementReference>varRequestedAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestedQuantity</name>
            <value>
                <elementReference>varRequestedQuantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>chargeType</name>
            <value>
                <elementReference>varChargeType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreatePriorAuthorizationClaim</nameSegment>
        <outputParameters>
            <assignToReference>outClaimId</assignToReference>
            <name>claimId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outClaimItemId</assignToReference>
            <name>claimItemId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outClaimCoverageId</assignToReference>
            <name>claimCoverageId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outPaymentDetailId</assignToReference>
            <name>paymentDetailId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outVehicleId</assignToReference>
            <name>vehicleId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outAssetWarrantyId</assignToReference>
            <name>assetWarrantyId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varActionStatus</assignToReference>
            <name>status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outResultMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Find_Vehicle_and_Warranty</name>
        <label>Find Vehicle and Warranty</label>
        <locationX>176</locationX>
        <locationY>334</locationY>
        <actionName>FindVehicleWarrantyByVin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Vehicle_Found_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>vin</name>
            <value>
                <elementReference>varVin</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FindVehicleWarrantyByVin</nameSegment>
        <outputParameters>
            <assignToReference>outVehicleId</assignToReference>
            <name>vehicleId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outAssetWarrantyId</assignToReference>
            <name>assetWarrantyId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outVehicleFound</assignToReference>
            <name>vehicleFound</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outActiveWarrantyFound</assignToReference>
            <name>activeWarrantyFound</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outResultMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Route_Claim</name>
        <label>Route Claim</label>
        <locationX>176</locationX>
        <locationY>766</locationY>
        <actionName>RouteClaimToApproverQueue</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>claimId</name>
            <value>
                <elementReference>outClaimId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>preferredQueueDeveloperName</name>
            <value>
                <elementReference>varPreferredQueueDeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priority</name>
            <value>
                <elementReference>varPriorityOverride</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RouteClaimToApproverQueue</nameSegment>
        <outputParameters>
            <assignToReference>outQueueName</assignToReference>
            <name>queueName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outResultMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Critical_Queue</name>
        <label>Set Critical Queue</label>
        <locationX>50</locationX>
        <locationY>226</locationY>
        <assignmentItems>
            <assignToReference>varPreferredQueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty_Claim_Critical</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Vehicle_and_Warranty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Queue</name>
        <label>Set Default Queue</label>
        <locationX>176</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>varPreferredQueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warranty_Claim_Approvers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Priority_Route</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Claim_Created_Decision</name>
        <label>Claim Created Decision</label>
        <locationX>176</locationX>
        <locationY>658</locationY>
        <defaultConnectorLabel>Not Created</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varActionStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_Claim</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Priority_Route</name>
        <label>Determine Priority Route</label>
        <locationX>176</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>Find_Vehicle_and_Warranty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>Critical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPriorityOverride</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Critical_Queue</targetReference>
            </connector>
            <label>Critical</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vehicle_Found_Decision</name>
        <label>Vehicle Found Decision</label>
        <locationX>176</locationX>
        <locationY>442</locationY>
        <defaultConnectorLabel>Vehicle Missing</defaultConnectorLabel>
        <rules>
            <name>Vehicle_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outVehicleFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Claim_Structure</targetReference>
            </connector>
            <label>Vehicle Found</label>
        </rules>
    </decisions>
    <description>Autolaunched orchestration flow for dealer-side warranty prior authorization intake.</description>
    <environments>Default</environments>
    <interviewLabel>Dealer Intake Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dealer Intake Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Default_Queue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>outActiveWarrantyFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outAssetWarrantyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outClaimCoverageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outClaimId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outClaimItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outPaymentDetailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outResultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outVehicleFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outVehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCausalPartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChargeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDealerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDealerWhatsAppNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDiagnosticCodeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExternalDmsReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFaultCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFaultDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMileageAtFailure</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varPreferredQueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorityOverride</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRepairDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRepairOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRequestedAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varRequestedQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSubmissionChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSymptomText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
