force-app/main/default/flows/Evaluate_Coverage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Denial_Verdict</name>
        <label>Set Denial Verdict</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>eligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Covered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rationale</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Coverage Denied. Current odometer ({!odometer}) exceeds the policy limit of {!Get_Warranty_Term_Info.Mileage_Limit__c} miles, or the {!partCategory} is not covered under this tier.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success_Verdict</name>
        <label>Set Success Verdict</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>eligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Likely</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rationale</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!partCategory} is eligible! Vehicle is at {!odometer} miles, which is under the {!Get_Warranty_Term_Info.Mileage_Limit__c} mile limit. Coverage is {!Get_Part_Coverage.ProductPartId}% for parts.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Evaluate_Mileage_and_Dates</name>
        <label>Evaluate Mileage and Dates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Denial_Verdict</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Covered</defaultConnectorLabel>
        <rules>
            <name>Likely_Covered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>odometer</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Warranty_Term_Info.Mileage_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Warranty_Details.EndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Part_Coverage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Success_Verdict</targetReference>
            </connector>
            <label>Likely Covered</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Evaluate Coverage {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Evaluate Coverage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Part_Coverage</name>
        <label>Get Part Coverage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Mileage_and_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WarrantyTermId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Warranty_Term_Info.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductPartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WarrantyTermCoverage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Part_Coverage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>partCategory</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warranty_Details</name>
        <label>Get Warranty Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Warranty_Term_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehicleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssetWarranty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warranty_Term_Info</name>
        <label>Get Warranty Term Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Warranty_Details.WarrantyTermId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WarrantyTerm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Warranty_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>eligibility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>odometer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>partCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rationale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
