force-app/main/default/flows/Find_Vehicle_Warranty_By_Vin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Error_Handling</name>
        <label>Error Handling</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>model</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unknown Vehicle</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>warrantyStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>The_Success_Path</name>
        <label>The Success Path</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>warrantyStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found</name>
        <label>Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Handling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_VehicleId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>The_Success_Path</targetReference>
            </connector>
            <label>Found VehicleId</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Find Vehicle Warranty By Vin {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Find Vehicle Warranty By Vin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Vehicle_Info</name>
        <label>Get Vehicle Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VehicleIdentificationNumber</field>
            <operator>Contains</operator>
            <value>
                <elementReference>vin</elementReference>
            </value>
        </filters>
        <object>Vehicle</object>
        <outputAssignments>
            <assignToReference>vehicleId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>model</assignToReference>
            <field>ModelName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vin</assignToReference>
            <field>VehicleIdentificationNumber</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>model</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>warrantyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
