force-app/main/default/flows/Get_Claim_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Status_Values</name>
        <label>Assign Status Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>claimStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim_Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fm_NextStepAdvice</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Handle_System_Error</name>
        <label>Handle System Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>claimStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I encountered a technical issue retrieving that claim. Please try again in a moment.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextStep</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>(Details: {!$Flow.FaultMessage})</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>fm_NextStepAdvice</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Claim_Record.Status}) = &quot;Submitted&quot;, 
&quot;Please wait for the OEM review team to verify the technical details.&quot;, 
&quot;The claim has moved past initial submission. Please check the Electra Dealer Portal for final payment updates.&quot;)</expression>
    </formulas>
    <interviewLabel>Get Claim Status {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Get Claim Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Claim_Record</name>
        <label>Get Claim Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Status_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_System_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>claimNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Claim_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>claimNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>claimStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
