force-app/main/default/flows/Warranty_Expiry_Alert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Expiry_Alert</name>
        <label>Send Warranty Expiry Alert</label>
        <locationX>396</locationX>
        <locationY>278</locationY>
        <actionName>SendWarrantyExpiryAlert</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Expiring_Warranties</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assetWarrantyId</name>
            <value>
                <elementReference>Loop_Expiring_Warranties.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendWarrantyExpiryAlert</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Scheduled flow — runs nightly at 2 AM UTC. Finds AssetWarranty records expiring within 30 days and sends proactive WhatsApp alerts to dealers via ARIA, encouraging them to submit any pending warranty claims before coverage lapses.</description>
    <environments>Default</environments>
    <formulas>
        <name>ThirtyDaysFromNow</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Warranty Expiry Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Warranty Expiry Alert Flow</label>
    <loops>
        <name>Loop_Expiring_Warranties</name>
        <label>Loop Expiring Warranties</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <collectionReference>Get_Expiring_Warranties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Expiry_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Expiring_Warranties</name>
        <label>Get Expiring Warranties</label>
        <locationX>176</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Expiring_Warranties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ThirtyDaysFromNow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssetWarranty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Expiring_Warranties</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-04-21</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
